<ng-template #toast>{{ errorText }}</ng-template>

<div class="d-flex gap-4">
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Alta Actor</h4>
    <form class="needs-validation" [formGroup]="form" (submit)="onRegister(toast)">
      <div class="row g-3">
        <div class="col-sm-6">
          <label class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            formControlName="name"
          />
          <app-input-error [control]="getControl('name')" />
        </div>

        <div class="col-sm-6">
          <label class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            placeholder="Apellido"
            formControlName="surname"
          />
          <app-input-error [control]="getControl('surname')" />
        </div>

        <div class="col-sm-6">
          <label class="form-label">Documento</label>
          <input
            type="number"
            class="form-control"
            placeholder="Documento"
            formControlName="identity"
          />
          <app-input-error [control]="getControl('identity')" />
        </div>

        <div class="col-sm-6">
          <label class="form-label">Edad</label>
          <input
            type="number"
            class="form-control"
            placeholder="Edad"
            formControlName="age"
          />
          <app-input-error [control]="getControl('age')" />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="(form.statusChanges | async) !== 'VALID'">{{ buttonText }}</button>
      </div>
    </form>
  </div>

  <app-country-table (selectCountry)="onCountrySelected($event)" />
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>